body {
    width: 100%;
    background-color: #d3d0d3;
}

.head {
    display: flex;
    height: 48px;
    text-align: center;
    align-items: center;
    color: #a9b2c0;
    background-color: #2a2d33;
    border-bottom: 1px solid #2a2d33;
}

.head-left {
    color: #a9b2c0;
    flex: 1;
}

.head-title {
    flex: 9;
}

.head-title>h3 {
    font-size: 16px;
}

form {
    width: 100%;
    font-size: 12px;
    color: #000;
}

form div {
    padding: 0 10px;
    border-bottom: 1px solid #b2b1b2;
}

form div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

form div:nth-child(3)>i {
    margin-right: 20px;
}

input {
    height: 50px;
    border: none;
    outline: none;
    background-color: #d3d0d3;
}

button {
    display: inline-block;
    position: fixed;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    bottom: 10px;
    left: 10%;
    background-color: #000;
    color: #a9b2c0;
}