.head {
    z-index: 10;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.4);
}

.menu_bg {
    background-color: #fff;
}

.icon-box {
    display: flex;
    text-align: center;
    color: #fff;
    margin: 10px 10px 0 10px;
}

.product-info-title {
    visibility: hidden;
    color: #000;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
    margin-right: 40px;
    flex: 5;
}

/* 菜单 */

.product-circle {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    line-height: 30px;
    color: #fff;
    /* 加上宽度 */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    /* flex: 1; */
}

/*三角形*/

.triangle {
    position: absolute;
    top: -18px;
    right: 17%;
    font-size: 24px;
    color: #000;
}

/* 轮播图 */

/* 弹出的提示 */

.noProduct {
    display: none;
    position: fixed;
    font-size: 14px;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 90px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #ada4a4;
    opacity: 0.8;
    z-index: 1000;
    margin-left: -45px;
    margin-top: -42px;
}

/*  产品信息*/

.product-txt {
    margin: 15px 10px 10px 10px;
    border-bottom: none;
    align-items: center;
    font-family: "微软雅黑";
    font-size: 14px;
}

.product-txt p {
    word-wrap: break-word;
}

.price {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.price p {
    color: red;
    font-size: 18px;
}

.price span {
    color: #bbb3b3;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 10px;
}

.txt-right p {
    color: #bbb3b3;
    font-size: 12px;
    margin-bottom: 5px;
}

.txt-right p i {
    margin-left: 10px;
}

.send-price {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    /* transform: scale(0.8); */
}

/* 遮罩层分享 */

#log_window {
    display: none;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 230px;
    background-color: #2a2d33;
    color: #fff;
    text-align: center;
    left: 0;
    z-index: 100;
}

#log_window ul li {
    padding-top: 10px;
    float: left;
    width: 33%;
    height: 80px;
}

.chat-qq {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.chat-qq i {
    font-size: 36px;
}

.chat-qq>span {
    margin-top: 10px;
    font-size: 14px;
    text-decoration: none;
}

.cancel {
    display: inline-block;
    width: 84%;
    border-top: 1px solid #646c7a;
    border: 1px solid #2a2d33;
    color: #646c7a;
    text-align: center;
    background-color: #2c2f38;
    height: 40px;
    line-height: 40px;
}

/* 评价 */

.evaluation {
    color: #9c9797;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    background-color: #f6f6f6;
}

.user-evaluation {
    font-size: 14px;
    color: #ffa500;
}

.user-evaluation p:nth-child(1) {
    font-size: 12px;
    color: #ffa500;
    padding: 10px;
}

.user-info {
    padding: 10px;
}

.user-info img {
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

.user-evaluation>span {
    display: inline-block;
    padding: 18px 10px;
    color: #000;
}

.user-evaluation p:last-child {
    padding: 10px;
    color: #000;
}

.evaluation-box>a {
    width: 100%;
    padding: 0;
    display: inline-block;
    color: #ffa500;
    text-align: center;
    line-height: 40px;
}

/* 产品详情页 */

.product-info {
    width: 100%;
}

.product-info>p {
    background-color: #f6f6f6;
    padding: 10px;
    text-align: center;
    color: #9c9797;
    font-size: 14px;
}

.product-info p:last-child {
    background-color: #fff;
}

/* 推荐产品 */

/* 商品列表 */

.content ul li {
    display: flex;
    align-items: center;
    list-style: none;
}

.img-product {
    display: inline-block;
    padding: 8px;
    width: 40px;
    height: 40px;
}

.img-txt {
    display: flex;
    align-items: center;
}

.content ul li a img {
    vertical-align: middle;
    width: 100%;
    border-radius: 8px;
}

.img-txt {
    display: inline-block;
    width: 70%;
    margin-left: 10px;
    border-bottom: 1px solid #dad5d5;
}

.img-txt>p {
    margin-bottom: 5px;
}

.img-txt p:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.img-txt p:nth-child(2) {
    display: inline-block;
    color: red;
}

.img-txt>span {
    color: #c5c0c0;
    font-size: 14px;
    margin-left: 10px;
    text-decoration: line-through;
}

/* 底部购买 */

.foot {
    width: 100%;
    font-size: 14px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
}

.collected {
    color: orange !important;
}

.foot>a {
    display: flex;
    text-align: center;
    padding: 0;
    color: #666161;
    flex-direction: column;
    flex: 2;
    background-color: #f6f6f6;
}

/* 加入购物车 */

.addCar {
    flex: 4;
    text-align: center;
    background-color: #ffa500;
    padding: 18px 0;
}

.addCar a:nth-child(1) {
    color: #fff !important;
    background-color: orange;
}

/* 遮罩层（加入购物车） */

#mask2 {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0.3;
    /*兼容IE8及以下版本浏览器*/
    filter: alpha(opacity=30);
    display: none;
}

#addCar-pop {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: #fff;
    display: none;
}

#add-shopCar {
    width: 100%;
    height: 360px;
    display: grid;
    grid-template-columns: 35% 40% 10% 15%;
    grid-template-rows: 20% 55% 20% 5%;
    align-items: center;
}

.shop-product img {
    position: absolute;
    top: -30px;
    left: 10px;
    width: 90px;
    height: 90px;
    z-index: 300;
    border: 3px solid #bfbfd5;
}

.addCar-price {
    display: flex;
    flex-direction: column;
    line-height: 1.5 !important;
    margin-bottom: 10px;
}

.addCar-price span:first-child {
    text-align: left;
    font-size: 20px;
    color: #e77817;
    font-weight: 700;
}

.addCar-price span:last-child {
    font-size: 12px;
    text-align: left;
}

.addCar-close {
    text-align: right;
    grid-column: 3/5;
    grid-row: 1/2;
    margin-right: 15px;
}

.addCar-close img {
    width: 25px;
}

.addCar-color {
    padding: 10px 0;
    grid-column: 1/5;
    grid-row: 2/3;
    color: #8c8383;
    text-align: left;
    font-size: 12px;
    border-top: 1px solid #d9d4d4;
    border-bottom: 1px solid #d9d4d4;
}

.addCar-color>p {
    /* padding-top: 5px; */
    margin-left: 15px;
}

.type-color {
    margin-left: 15px;
    line-height: 0;
}

.type-color>span {
    text-align: left;
    text-indent: 2px;
    margin-left: 10px;
    line-height: 15px;
    display: inline-block;
    border-radius: 2px;
}

.clickBg {
    background-color: #e77817;
    color: #fff;
}

.addCar-num {
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 15px;
    text-align: left;
    font-size: 18px;
}

.addCar-choice {
    grid-column: 2/5;
    grid-row: 3/4;
    margin-right: 15px;
    text-align: right;
}

.num {
    border: none;
    outline: none;
    width: 50px;
    text-align: center;
}

.addCar-choice img {
    width: 30px;
    vertical-align: middle;
}

.addCar-choice span {
    font-size: 14px;
    font-weight: 700;
}

.sure {
    line-height: 40px;
    margin-bottom: 10px;
    color: #000;
    grid-column: 1/5;
    grid-row: 4/5;
    background-color: #e77817 !important;
}

/* 立即购买 */

.buy-now {
    flex: 4;
    text-align: center;
    color: #fff;
    background-color: #e4a51e;
    padding: 18px 0;
}

.buy-now a {
    color: #ffffff;
}