input {
  color: #757575;
}

input:focus {
  outline: none;
}

button:focus {
  outline: 1px solid #646c7a;
}

button:onblur {
  outline: none;
}

.information {
  width: 60%;
  background: url(../img/Envelope_2.png) no-repeat left;
  background-position-x: 10px;
  background-size: 14px;
  border-bottom: 1px solid #646c7a;
}

.message-box {
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #646c7a;
}

.set-pwd {
  border-top: 0 !important;
}

.code {
  text-align: center;
  color: #a9b2c0;
  font-size: 14px;
  margin-top: 20px;
  padding: 0 10px;
  background-color: #2a2d33;
  border-top: 1px solid #646c7a;
  border: 1px solid #2a2d33;
}

.code:active {
  background-color: skyblue;
  color: #000;
}

footer {
  position: relative;
  width: 72%;
  font-size: 12px;
  align-items: center;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  opacity: 0;
}

label {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #52acff;
}

/*设置选中的input的样式*/

/* + 是兄弟选择器,获取选中后的label元素*/

input:checked + label {
  background-color: #52acff;
  border: 1px solid #52acff;
}

input:checked + label::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 8px;
  top: 1px;
  left: 4px;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

footer span {
  color: #67686b;
}
