tabel{
	border-collapse: collapse;
	margin: auto auto;
}
.content{
	float: left;
	width: 550px;
	border:1px solid #000;
}
td{
	width: 130px;
}
.btn{
	width: 133px;
	font-size: x-large;/*设置比父元素更大的尺寸*/
}
.btn-click{
	width: 270px;
	font-size: x-large;
}
.txt{
	resize: none;
	width: 540px;
	height: 70px;
	line-height: 50px;
	font-size: x-large;
	text-align: right;
}
.history{
	float: left;
	margin-left: 10px;
	width: 550px;
	height: 280px;
	border: 1px solid #CC33FF;
}